<div class="notice-modal-wrapper">
  <div class="notice-modal">
    <p class="notice-modal__main-msg">エラーが発生し、メールアドレスの変更に失敗しました。</p>
    <p class="notice-modal__sub-msg">お手数ですが、再度下記より変更お手続きをお願いします。</p>
    <%= link_to"こちら", new_email_reset_path, class: "notice-modal__ok-btn" %>
  </div>
</div>
