<div class="notice-modal-wrapper">
  <div class="notice-modal">
    <p class="notice-modal__main-msg">アカウントが有効化されていません</p>
    <p class="notice-modal__sub-msg">会員登録時に届いたメールをチェックしてください</p>
    <%= link_to"OK", root_url, class: "notice-modal__ok-btn" %>
  </div>
</div>
