<div class="notice-modal-wrapper">
  <div class="notice-modal">
    <%= image_tag("check.svg", class: "notice-modal__icon") %>
    <p class="notice-modal__main-msg">パスワード再設定のメールを送信しました</p>
    <p class="notice-modal__sub-msg">メールをご確認いただき、記載されたURLにアクセスしパスワードを再設定してください</p>
    <%= link_to"OK", root_url, class: "notice-modal__ok-btn" %>
  </div>
</div>
