<div class="success-modal-wrapper">
  <div class="success-modal">
    <%= image_tag("check.svg", class: "success-modal__icon") %>
    <p class="success-modal__main-msg">パスワードの変更が完了しました</p>
    <%= link_to"OK", root_url, class: "success-modal__ok-btn" %>
  </div>
</div>
