<div class="notice-modal-wrapper">
  <div class="notice-modal">
    <%= image_tag("check.svg", class: "notice-modal__icon") %>
    <p class="notice-modal__main-msg">プロフィールが更新されました</p>
    <%= link_to"OK", root_url, class: "notice-modal__ok-btn" %>
  </div>
</div>
