<% if object.errors.any? %>
  <div class="alert alert-danger">
    <ul>
    <% [:name, :email, :password, :password_confirmation].each do |attribute| %>
      <% object.errors[attribute].each do |message| %>
        <li><%= message %></li>
      <% end %>
    <% end %>
    </ul>
  </div>
<% end %>
