<% if @user.errors.any? %>
  <div id="error_explanation">
    <ul>
    <% [:name, :email, :password, :password_confirmation].each do |attribute| %>
      <% @user.errors[attribute].each do |message| %>
        <li><%= message %></li>
      <% end %>
    <% end %>
    </ul>
  </div>
<% end %>
