<p>イイねした口コミ</p>
<% @like_reviews.each do |review| %>
  <p><%= review.content %></p>
  <% if review.review_images.attached? %>
    <% review.review_images.each do |image| %>
      <%= image_tag image, size:'300x200' %>
    <% end %>
  <% end %>   
<% end %>
