<div class="reply-form">
  <%= form_with(model: @reply) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
      <%= f.text_area :content, placeholder: "コメント", class: "reply-form__textarea" %>
    <%= f.submit "返信", class: "reply-form__submit" %>
  <% end %>
</div>
