<div class="notice-modal-wrapper">
  <div class="notice-modal">
    <p class="notice-modal__main-msg">ログインが必要です</p>
    <p class="notice-modal__sub-msg">
      お手数ですが、
      <%= link_to"こちら", login_url, class: "notice-modal__url" %>
      よりログインをお願いします。
    </p>
  </div>
</div>
