<div class="notice-modal-wrapper">
  <div class="notice-modal">
    <p class="notice-modal__main-msg">不正なアクセスを検知しました。</p>
     <p class="notice-modal__sub-msg">お手数ですが、再度こちらより会員登録のお手続きをお願いします。</p>
    <%= link_to"こちら", signup_url, class: "notice-modal__ok-btn" %>
  </div>
</div>
