<div class="post-action-popup display-none" id="post-action-popup">
  <div class="post-delete">
    <div class="post-delete__header">
      <span>この投稿について</span>
      <%= image_tag "close.png", size: "30x30", class: "post-delete__close-icon", id: "close-btn" %>
    </div>
    <hr>
    <div class="post-delete__delete-icon" id="delete-btn">
      <%= image_tag "delete.png", size: "30x30" %>
      投稿を削除する
    </div>
  </div>
</div>
