.charm-detail-block {
  display: flex;
  width: 90%;
  margin: 100px auto;
}
.charm-img-wrapper, .charm-img-container {
  flex: 1;
  position: relative;
  & img {
    width: 100%;
    aspect-ratio: 7 / 5;
    border-radius: 20px;
  }
  & span {
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: #fff;
    font-size: 2.5rem;
    font-weight: bold;
  }
}
.charm-describe-wrapper, .charm-describe-container {
  flex: 1;
  padding: 30px;
  & strong {
    display: block;
    font-size: 3.5rem;
  }
  & span {
    display: block;
    font-size: 1.7rem;
    line-height: 3rem;
    padding-top: 20px
  }
}
.charm-describe-container {
  order: 1;
}
.charm-img-container {
  order: 2;
}

@media (max-width: 767px) {
  .charm-detail-block {
    display: block;
    width: 90vw;
    margin: 100px auto;
  }
  .charm-img-wrapper, .charm-img-container {
    position: relative;
    & img {
      width: 100%;
    }
  }
  .charm-describe-wrapper, .charm-describe-container {
    padding: 20px 0 0 0;
    & strong {
      font-size: 3rem;
      padding: 20px 0;
    }
    & span {
      width: 100%;
      font-size: 1.7rem;
      line-height: 3rem;
      padding: 0;
    }
  }
}
