.continent-header {
  position: fixed;
  top: 80px;
  left: 0;
  width: 100vw;
  padding: 0 20px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
}
.continent-btn-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px 0;
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
  height: 40px;
}
.continent-wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  &__name {
    display: inline-block;
    color: #757575;
    padding-right: 3px;
  }
  &__arrow-icon {
    transform: rotate(90deg);
    transition: all 0.2s;
  }
  :hover {
    color: #0f84ff;
  }
}
.selected-continent {
  .continent-wrapper{
    &__arrow-icon {
      transform: rotate(-90deg);
      transition: all 0.2s;
    }
    &__name {
      color: #0f84ff;
    }
  }
}

@media (max-width: 767px) {
  .continent-header {
    top: 69px;
    &__hr {
      display: none;
    }
  }
  .continent-btn-list {
    padding: 5px 20px;
    justify-content: left;
  }
}
