.heritage-review-block {
  padding: 50px 0;
  width: 70vw;
  margin: 15vh auto;
  &__show-all-reviews {
    display: inline-block;
    margin: 50px;
    cursor: pointer;
    border: 1px solid #000000;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 2rem;
  }
}
.heritage-score-inner {
  display: flex;
  align-items: center;
  margin: 0 0 50px 50px;
  & .heritage-score-info {
    &__score-img {
      width: 200px;
      height: 40px;
    }
    &__score-value {
      font-size: 3rem;
      padding-left: 10px;
    }
  }
  & .review-create-btn {
    display: inline-block;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .heritage-review-block {
    width: 80vw;
    margin: 7vh auto;
    &__show-all-reviews {
      display: block;
      padding: 10px 20px;
      border-radius: 10px;
      font-size: 2rem;
      margin: 20px auto;
      text-align: center;
    }
  }
  .heritage-score-inner {
    width: 100vw;
    margin: 0 0 20px 0;
    & .heritage-score-info {

      &__score-img {
        width: 120px;
        height: 24px;
      }
      &__score-value {
        font-size: 2rem;
      }
    }
  }
}
