.heritage-header-block {
  position: relative;
  padding: 0 30px;
  font-size: 2rem;
  white-space: nowrap;
  background-color: #fff;
  &__hr {
    margin: 0 0 20px 0;
    width: 100%;
  }
  & ul {
    display: flex;
    gap: 30px;
  }
  & li {
    cursor: pointer;
    position: relative;
    border-bottom: 5px solid #fff;
  }
  & li:hover {
    font-weight: bold;
  }
  .active {
    border-bottom: 5px solid #0f84ff;
    font-weight: bold;
  }
  &__arrow-img {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    animation: moveLeftRight 1s infinite;
  }
}
@keyframes moveLeftRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
.scrollable {
  overflow-x: auto;
}
.heritage-header-wrapper {
  position: fixed;
  top: 90px;
  right: 0;
  left: 0;
  width: 70vw;
  margin: 0 auto;
  height: 90px;
  z-index: 200;
}

@media (max-width: 767px) {
  .heritage-header-block {
    padding-left: 20px;
    width: 100vw;
    font-size: 1.5rem;
    margin-bottom: 60px;
    height: 60px;
  }
  .heritage-header-wrapper {
    top: 60px;
    left: 0;
    width: 100vw;
    margin: 0;
  }
}
