.heritage-link-group {
  position: relative;
  padding: 20px 25vw 0 25vw;
  font-size: 2rem;
  white-space: nowrap;
  & ul {
    display: flex;
    gap: 30px;
  }
  & li {
    cursor: pointer;
    position: relative;
    border-bottom: 5px solid #fff;
  }
  & li:hover {
    font-weight: bold;
  }
  .active {
    border-bottom: 5px solid #0f84ff;
    font-weight: bold;
  }
  &__arrow-img {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    animation: moveLeftRight 1s infinite;
  }
}
@keyframes moveLeftRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
.scrollable {
  overflow-x: auto;
}
.heritage-link-group::after {
  width: 100vw;
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  box-shadow: 0 2px 5px #aaaaaa;
}

@media (max-width: 767px) {
  .heritage-link-group {
    padding-left: 20px;
    width: 100vw;
    font-size: 1.5rem;
  }
}
