.mobile-header {
  display: none;
  background-color: #fff;
}

@media (max-width: 767px) {
  .mobile-header {
    display: block;
    width: 100vw;
    &__hr {
      margin: 0;
      border: 0.5px solid #cccaca;
    }
  }
  .default-header {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header-center-block {
    display: flex;
    align-items: center;
    &__logo-name {
      font-size: 2.5rem;
      font-weight: bold;
    }
  }
  .humberger-menu-header {
    position: fixed;
    top: 0;
    left: -100%;
    transition: all 0.5s;
    width: 80vw;
    height: 100vh;
    background-color: #fff;
    z-index: 200;
    padding: 15px;
    &__close-icon {
      display: block;
      margin-bottom: 20px;
    }
    &__user-icon {
      & img {
        border-radius: 50%;
      }
    }
    &__user-name {
      font-weight: bold;
      font-size: 2rem;
      color: #0d0a0a;
      padding-left: 10px;
    }
    &__heritage-index-link, &__user-index-link {
      display: block;
      font-size: 2.5rem;
      color: #0d0a0a;
    }
    &__logout-link, &__login-link, &__signup-link {
      display: block;
      font-size: 1.5rem;
      color: #3d3a3a;
    }
  }
 .humberger-menu-header-open {
    left: 0;
  }
}
