.mobile-header {
  display: none;
}

@media (max-width: 767px) {
  .mobile-header {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100vw;
    height: 60px;
    &__hr {
      margin: 0;
      border: 0.5px solid #cccaca;
    }
  }
  .default-header {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header-search-btn {
    display: inline-block;
    border: 0.5px solid #525252;
    border-radius: 30px;
    padding: 10px;
    width: 50vw;
    &__area-search {
      color: #aaaaaa;
    }
  }
  .mobile-header-menu {
    border: 0.5px solid #cacaca;
    border-radius: 30px;
    padding: 10px;
    display: flex;
    gap: 10px;
    &__user-icon {
      border-radius: 50%;
    }
  }
  .humberger-menu-header {
    position: fixed;
    top: 0;
    right: -100%;
    transition: all 0.5s;
    width: 80vw;
    height: 100vh;
    background-color: #fff;
    z-index: 1000;
    padding: 15px;
    &__close-icon {
      display: block;
      margin-bottom: 20px;
    }
    &__user-icon {
      & img {
        border-radius: 50%;
      }
    }
    &__user-name {
      font-weight: bold;
      font-size: 2rem;
      color: #0d0a0a;
      padding-left: 10px;
    }
    &__heritage-index-link, &__user-index-link {
      display: block;
      font-size: 2.5rem;
      color: #0d0a0a;
    }
    &__logout-link, &__login-link, &__signup-link {
      display: block;
      font-size: 1.5rem;
      color: #3d3a3a;
    }
  }
 .humberger-menu-header-open {
    right: 0;
  }
}
