.pc-header {
  width: 70vw;
  margin: 0 auto;
  padding: 10px 0;
  display: flex;
  align-items: center;
  background-color: #fff;
  height: 80px;
  position: relative;
  &__logo-name {
    font-size: 3rem;
    font-weight: bold;
    padding-left: 10px;
  }
}

@media (max-width: 767px) {
  .pc-header {
    display: none;
  }
}
