.post-info {
  width: 40vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 9fr;
  &__hr {
    width: 60vw;
    margin: 3vh auto;
  }
}

.post-details {
  padding-left: 20px;
  &__user-name{ 
    font-weight: bold;
    font-size: 2rem;
  }
  &__formatted-time{ 
    padding-top: 5vh;
  }
  &__post-content{ 
    font-size: 2rem;
  }
}
