.reply-form {
  width: 60%;
  margin: 30px auto;
  text-align: center;
  &__textarea {
    width: 100%;
    aspect-ratio: 4 / 1;
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 10px;
  }
  &__submit {
    display: inline-block;
    margin-top: 20px;
    color: #0255e4;
    width: 70%;
    border: 1px solid #0255e4;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    font-size: 2rem;
  }
}

@media (max-width: 767px) {
  .reply-form {
    width: 100%;
    &__submit {
      width: 100%;
      padding: 5px;
    }
  }
}
