.user-profile-page-wrapper {
  width: 60vw;
  margin: 4vh auto;
  background-color: #fff;
  border-radius: 10px;
  &__hr {
    border: 0.5px solid #cccaca;
  }
}

.user-profile {
  padding: 60px 5vw 30px 5vw;
  display: flex;
  &__user-icon {
    width: 20%;
    max-width: 120px;
    display: flex;
    align-items: center;  
    & img {
      width: 100%;
      aspect-ratio: 1 / 1;
      border-radius: 50%;
    }
  }
}

.user-profile-content {
  padding: 0 5vw 3vh 5vw;
  font-size: 1.5rem;
}

.user-profile-details {
  padding-left: 20px;
  &__name {
    height: 50%;
    display: flex;
    align-items: center;    
    padding: 20px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    & span {
      font-size: 2.5rem; 
    }
  }
}

@media (max-width: 767px) {
  .user-profile-page-wrapper {
    width: 100%;
    border-radius: 0;
    margin-top: 0;
  }
  .user-profile {
    padding: 10px 5vw 0 5vw;
    &__user-icon {
      max-width: 70px;
    }
  }
  .user-profile-content {
    font-size: 1.5rem;
  }
}
