/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

/* header */

header {
  .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
  }
  
  .item {
    text-align: center;
  }
  
  .second-item {
    margin-left: -60px;
  }
  
  .form-group {
    position: relative;
  }
  
  .rounded-input {
    border-radius: 15px;
    padding-left: 30px;
  }
}

/* signup_form, login_form */

.user_form{
  .container {
    margin-top: 40px;
  }
  
  .card {
    border: 1px solid black;
    width: 40vw;
    margin: 0 auto;
    border-radius: 20px;
  }


  .f-size {
    width: 60%;
    margin: 40px auto;
  }

  .margin_bottom {
    margin-bottom: 30px;
    text-decoration: underline;
  }
}

/* profile_image */

.rounded-image {
  border-radius: 50%;
  object-fit: cover;
}

/* profile */

.profile {
  .grid-container1 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 30vh;
    width: 50vw;
    margin: 40px auto;
  
    .grid-container-inner {
      display: grid;
      grid-template-rows: 5fr 4fr;
      height: 100%;
  
      .grid-container-inner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        width: 100%;
        height: 100%;
      }
    }
  }
  .profile-img {
    margin: auto;
  }

  .profile-name {
    margin: auto;
    font-size: 30px;
  }

  .profile-btn {
    margin: auto;
    .button {
      color: #0F84FF;
      font-size: 15px;
      border: 1px solid #0F84FF;
      border-radius: 20px;
      padding: 10px;
    }
  }
  .follow {
    margin: auto;
    color: black;
    font-size: 20px;
  }

  .profile-content {
    font-size: 15px;
    margin-top: 30px;
  }
  
  .custom-hr {
    width: 50%;
    border: 0.5px solid #cccaca;
  }
  .grid-container2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 50vw;
    margin: 20px auto;

    .grid-item {
      margin: 0 auto;

      .color {
        color: #595959;
      }
    }
  }
}
